body{
  background-image: url(../src/assets/hiring-agency-candidates-job-interview_1262-18940.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.nav1{
  color: white;
}
.nav1:hover{
  color: red;

  cursor: pointer;
}
div a{
  color: white;
  font-size: 15px;
  text-decoration: none;
}